.DS_Store
.metadata/
.recommenders/
build/
_build/
dist/
MANIFEST
bin
data
wiki
*.so
*.dylib
*.jar
*.pyc
*.hbin
*.swp
*.zip
java/docs/*
java/doc/*
java/lib/*
java/testResults/*
java/.classpath
RemoteSystemsTempFiles
